body {
	-webkit-text-size-adjust: none;
	margin-top: 0;
	padding: 0;
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	line-height: 1.8em;
	color: #fff;
	text-align: left;
	min-width: 760px;
	background-color: #4a525a; /* dark blue slate thing */
	}

	#wrapper {
	/*    background-color: white;*/
	    width: 900px;
			height: 100px;
	    margin: 0 auto;
	    background-color:white
	    text-align: left;
	}

	#steuerungoben {

	    height: 4.5em;
	    background-color: 191919;
	}

	#steuerungoben ul {
			    list-style-type: none;
			}

	#steuerungoben li {

			    display: inline-block;
			}

	#steuerungoben a {
			    display: inline-block;
			    width: 230px;
			    text-align: right;
			    text-decoration: none;
			    line-height: 3.5em;
			    color: white;
			}

	#steuerungoben a:hover {
			    background-color: 353535;
			}
